/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Colors: 
D8D9CF
EDEDED
FF8787
E26868 */
/* 
You may want to use more specific CSS selectors to target elements more precisely. For example, instead of using the img selector to style all images on the page, you could use a more specific class or ID to target only the images you want to style.

When defining border styles, it's a good idea to specify the style, width, and color separately. In your #side-bar selector, you have specified the border color and width using the border shorthand property, but have not specified the border style.
 */


body {
    font-family: sans-serif;
    font-size: 1.1rem;
    box-sizing: border-box;
    
}

#page-container {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: min-content auto;
    grid-template-areas: 
        "header header"
        "side-bar main-page";
    height: 100vh;
    width: 100vw;
}

#page-header {
    grid-area: header;
    padding: 1rem;
    background-color: #E26868;

}

#side-bar {
    grid-area: side-bar;
    padding-left: 1.8rem;
    padding-right: 1rem;
    padding-top: 1.8rem;
    background-color: #EDEDED;
    border-right: #E26868;
    border-style: solid;
    border-width: 2px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.menu-item-selected {
    text-decoration: #E26868 underline;
    text-decoration-thickness: 3px;
}

.menu-option:hover {
    text-decoration: #E26868 underline;
    text-decoration-thickness: 3px;
}

img{
    margin-top: 2px;
    width: 1.7rem;
    cursor: pointer;
}

#main-page {
    grid-area: main-page;
    background-color: #D8D9CF;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;

}


.projects-header {
    font-size: 1.4rem;
    margin-top: 1.4rem;
    margin-bottom: .8rem;
}

h1 {
    font-size: 2.2rem;
    font-weight: 600;
    
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: .6rem;
    cursor: pointer;
}

h4 {
    color: #E26868;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: .6rem;
    cursor: pointer;
}



.to-do-card {
    margin-bottom: .5rem;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
    line-height: 1.2rem;
    width: max(75%, 340px);
    box-shadow: 5px 5px 5px darkgrey;
    border-radius: .4rem;
    background: #EDEDED;
    box-sizing: border-box;

}

.high-urgency {
    background: linear-gradient(90deg, red 5px, #EDEDED 0%);
}

.medium-urgency {
    background: linear-gradient(90deg, rgb(253, 182, 1) 5px, #EDEDED 0%);
}

.completed {
    opacity: 0.45;
}

.to-do-main-display {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-template-rows: auto;

}

.main-display-left,
.main-display-right {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.to-do-expanded-details {
    margin-top: .5rem;
    display: none;
}

.to-do-description {
    margin-right: 5rem;
    margin-bottom: 1rem;
}

.expanded {
    display: block;
}


/* THIS IS NOW FOR THE OTHER PAGE PROTOTYPES */


.project-card {
    margin-top: .5rem;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 1.2rem;
    padding-left: 1rem;
    padding-right: .6rem;
    width: max(75%, 340px);
    box-shadow: 5px 5px 5px darkgrey;
    border-radius: .4rem;
    background: linear-gradient(90deg, #08acf3 5px, #EDEDED 0%);
    cursor: pointer;
    box-sizing: border-box;
}




/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    height: 100px;
    width: 450px;
  }
